name: Release Rust

on:
  workflow_run:
    workflows: ["Release Fonts"]
    types: [completed]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Publish mctext
        run: cargo publish -p mctext --no-verify --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
